# IDE configurations
.vs/
.idea/

# Environment files
node_modules/

# Output files
build/
dist/
out/

# Output files: Next.js
.vercel/
.next/
next-env.d.ts

# Project-specific files
mods/ffmpeg/
public/workbox-*.js
public/workbox-*.js.map
public/sw.js
public/sw.js.map
public/worker-*.js

# User-specific files
.env*.local

# Miscellaneous files
.DS_Store
Desktop.ini
Thumbs.db