.pulsating {
  box-shadow: 0 0 0 0 rgba(#5a99d4, 0.5);
  animation: pulse 1.5s infinite !important;
}

@keyframes pulse {
  0% {
  }
  70% {
    box-shadow: 0 0 0 50px rgba(#5a99d4, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
  }
}
